$montserrat-font-path: "./fonts/montserrat";
$raleway-font-path: "./fonts/raleway";

$text-secondary: #133457DE;
$text-primary: #FFFF;

$dark-blue: #0F1D45;
$secondary: #133457DE;
$primary: #FFFF;

:export {
    primaryColor: $primary;
}